@import url(https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto:400,400italic,500,500italic);
* {
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
  height: 100%;
}
/* cards */
.main-container {
  margin-top: 9%;
}
.container1 {
    width: 80%;
    margin: auto;
    text-align: center;
  }
  h1 {
    font-size: 36px;
    font-weight: 600;
    color: #8f8f8f;
  }
.crow {
    margin-top: -2%;  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .crows {
    margin-top: -2%;
    margin-left: 17%;
    display: flex;
    justify-content: space-around;
    width: calc(65%);
  }
  .ccol {
    flex-basis: calc(25% - 20px);
    margin: 10px;
    padding: 20px 12px;
    padding-right: 60px;
    box-sizing: border-box;
  }
  .ccols {
    flex-basis: 25%;
    padding: 26px 15px;
    box-sizing: border-box;
  }
  .headings {
    font-weight: bolder;
     font-size: 40px;
      padding-top: 5%;
       color: white;
  }
  @media (max-width:381px) {
    .headings {
      text-align: center;
    }
    .crow {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .crows {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
   
  }
  @media (max-width: 768px) {
    .crows {
      flex-direction: column;
      margin:auto;
      align-items: center;
    }
    .ccol {
      flex-basis: 100%; 
      margin: 10px 0px;       
    }
    .ccols {
      flex-basis: 100%; 
      margin: 10px 0px;
      margin-left: -24%;  
    }
    .headings {
        font-weight: bolder;
         font-size: 30px;
          padding-top: 5%;
           color: white;
           margin-bottom: -7%;
      }
  }
  @media (max-width: 709px) {
    .card {
      width: 100%; 
    }
  }
  /* cards */
  .card .content {
    position: absolute;
    z-index: 3;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(0);
    transition: 0.5s;
    margin-left: 0%;
  }
   .card:hover .content {
    transform: scale(1);
    bottom: 25px;
  }
   .content .title {
    position: relative;
    color: #fff;
    font-weight: 500;
    line-height: 1.1em;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
  }
   .content .title span {
    font-weight: 300;
    font-size: 0.70em;
  }
   .card {
    position: relative;
    width: 220px;
    height: 300px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 10%;
    margin-top: 10%;
  }
  .card img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 8px; 
}
  .card::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -5px;
    margin: auto;
    width: 240px;
    height: 320px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #06DBFE 0%, #3469DD 100% );
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .card::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #06DBFE 0%, #3469DD 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
  }
  .heading {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
  }
  .card p:not(.heading) {
    font-size: 14px;
  }
  .card p:last-child {
    color: white;
    font-weight: bolder;
  }
  .card:hover::after {
    filter: blur(30px);
  }
  .card:hover::before {
    transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
  }
  .description {
    width: 95%;
    padding: 15px;
    margin-bottom: -10%;
    background-color: #00000099;
    backdrop-filter: blur(5px);
  }
  .team {
    color: #00e4ff;
    text-decoration: underline;
  }
  .team:hover {
    color: #00e4ff;
  }
  .team:hover::before {
    width: 0%;
  }